{% extends "base.html" %}

{% block title %}Detalhes do Episódio{% endblock %}

{% block header %}Episódio{% endblock %}

{% block content %}

<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-primary">
    #{{ data.episode.id }}
  </div>
  <div class="card-body text-primary">
    <h5 class="card-title">{{ data.episode.name }}</h5>
    <p class="card-text">{{ data.episode.episode }}.</p>
  </div>
  <div class="card-footer bg-transparent border-primary">{{ data.episode.air_date }}</div>
</div>

<h2>Personagens:</h2>
<div class="row row-cols-1 row-cols-md-4 g-4">
  {% for character in data.characters %}
  <div class="col">
      <div class="card" style="max-width: 200px;">
          <a href="/characters/{{ character.id }}">
            <img src="{{ character.avatar }}" class="card-img-top" alt="{{ character.url }}">
          </a>
      </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
