{% extends "base.html" %}

{% block title %}Detalhes do Episódio{% endblock %}

{% block header %}Episódio{% endblock %}

{% block content %}

<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-primary">
    #{{ data.episode.id }}
  </div>
  <div class="card-body text-primary">
    <h5 class="card-title">{{ data.episode.name }}</h5>
    <p class="card-text">{{ data.episode.episode }}.</p>
  </div>
  <div class="card-footer bg-transparent border-primary">{{ data.episode.air_date }}</div>
</div>

<h2>Personagens:</h2>
<ul>
    {% for character_url in data.episode.characters %}
        <li><a href="{{ character_url }}">{{ character_url }}</a></li>
    {% endfor %}
</ul>

<a href="/episodes" class="btn btn-primary">Voltar à lista de episódios</a>

{% endblock %}
