{% extends "base.html" %}

{% block title %}Detalhes da Localização{% endblock %}

{% block header %}Localização{% endblock %}

{% block content %}

<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-primary">
    #{{location.id }}
  </div>
  <div class="card-body text-primary">
    <h5 class="card-title">{{ location.name }}</h5>
    <p class="card-text">{{ location.dimension }}.</p>
  </div>
  <div class="card-footer bg-transparent border-primary">{{ location.type }}</div>
</div>

<h3>Residents:</h3>
<ul>
  {% for resident in location.residents %}
  <li><a href="/character/{{ resident.split('/')[-1] }}">Resident {{ resident.split('/')[-1] }}</a></li>
  {% endfor %}
</ul>
</div>
</div>
{% endblock %}

