{% extends "base.html" %}

{% block title %}Detalhes do Personagem{% endblock %}

{% block header %}Detalhes do Personagem{% endblock %}

{% block content %}

<div class="card border-primary mb-3" style="max-width: 18rem;">
  <img src="{{ character.image }}" class="card-img-top" alt="{{ character.name }}">
  <div class="card-header bg-transparent border-primary">
    #{{ character.id }}
  </div>
  <div class="card-body text-primary">
    <h5 class="card-title">{{ character.name }}</h5>
    <p class="card-text">Species: {{ character.species }}</p>
    <p class="card-text">Gender: {{ character.gender }}</p>
    <p><strong>Origin:</strong> <a href="/locations/{{ character.origin.url.split('/')[-1] }}">{{ character.origin.name
        }}</a></p>
    <p><strong>Current Location:</strong> <a href="/locations/{{ character.location.url.split('/')[-1] }}">{{
        character.location.name }}</a></p>
  </div>

  {% endblock %}